{{ $data := (.Scratch.Get "content").SkillsIT }}
{{ with $data }}
<section id="section-{{ .Title | urlize }}">
    <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
    <ul class="listspecial">
        {{ range $data.List }}
			<div class="{{ .skillContainer}}">
				<div class="spalte left"><i class="fas fa-file-code" style="font-size:20px"></i></div><div class="spalte right"><div class="bar learning1" data-skill="HTML & CSS"></div></div>
				<div class="spalte left"><i class="fab fa-wordpress" style="font-size:20px"></i></div><div class="spalte right"><div class="bar learning2" data-skill="Wordpress"></div></div>
				<div class="spalte left"><i class="fas fa-database" style="font-size:20px"></i></div><div class="spalte right"><div class="bar learning3" data-skill="MSSQL & MySQL"></div></div>
				<div class="spalte left"><i class="fab fa-python" style="font-size:20px"></i></div><div class="spalte right"><div class="bar learning4" data-skill="Python"></div></div>				
				<div class="spalte left"><i class="fab fa-r-project" style="font-size:20px"></i></div><div class="spalte right"><div class="bar learning5" data-skill="R"></div></div>				
				<div class="spalte left"><i class="fas fa-file-excel" style="font-size:20px"></i></div><div class="spalte right"><div class="bar learning6" data-skill="MS Excel & VBA"></div></div>
			</div>
        {{ end }}
    </ul>
</section>
{{ end }}
